<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <!-- <h1>Welcome to My Website</h1>
    <p>This is the home page of my Flask app!</p> -->

    <div class="container">
        <div class="box">
            <form>
                <h1>Make a Label</h1>
                <label for="lbold"><b>Bold</b></label>
                <input type="checkbox" id="lbold" name="lbold"><br><br>
                <label for="litalic"><i>Italic</i></label>
                <input type="checkbox" id="litalic" name="litalic"><br><br>
                <input type="text" id="ltext" name="ltext" placeholder="text to be printed"><br><br>
                <label for="lfontsize">Font Size</label><br><br>
                <input type="range" class="rangeslider" id="lfontsize" name="lfontsize" min="16" max="78" value="35">
                <output id="lfontsizeoutput">35</output><br><br>
            </form>
            <button type="button" class="print noto-emoji" id="lbutton" value="Print">🖨️</button>
        </div>
        <div class="box">
            <h1>Make an Sticker</h1>
            <input type="text" class="noto-emoji" id="etext" name="etext" placeholder="put some emojis here"><br><br>
            <button type="button" class="print noto-emoji" id="ebutton" value="Print">🖨️</button>
        </div>
        <div class="box">
            <h1>Print an Image</h1>
            <label for="iautorotate">auto rotation</label>
            <input type="checkbox" id="iautorotate" name="iautorotate" checked="true"><br><br>
            <label for="iedgeenhance">edge enhance</label>
            <input type="checkbox" id="iedgeenhance" name="iedgeenhance" checked="true"><br><br>
            <form id="iform">
                <label for="ifile">upload image</label><br><br>
                <input type="file" id="ifile" name="ifile" accept="image/*"><br><br>
                <button type="submit" class="print noto-emoji" id="ibutton" value="Print">🖨️</button>
            </form>

        </div>
    </div>

    


    <!-- Link to the JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
