<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StickerServer - Label Maker</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="tab-nav">
        <button class="tab-btn active" data-target="label-section">Text</button>
        <button class="tab-btn" data-target="emoji-section">Emoji</button>
        <button class="tab-btn" data-target="image-section">Image</button>
        <button class="tab-btn" data-target="qr-section">QR Code</button>
    </nav>

    <div class="container">
        <!-- Text Label Section -->
        <div class="box tab-content active" id="label-section">
            <form>
                <h1>Make a Label</h1>
                <label for="lbold"><b>Bold</b></label>
                <input type="checkbox" id="lbold" name="lbold"><br><br>
                <label for="litalic"><i>Italic</i></label>
                <input type="checkbox" id="litalic" name="litalic"><br><br>
                <input type="text" id="ltext" name="ltext" placeholder="text to be printed"><br><br>
                <label for="lfontsize">Font Size</label><br><br>
                <input type="range" class="rangeslider" id="lfontsize" name="lfontsize" min="16" max="78" value="35">
                <output id="lfontsizeoutput">35</output><br><br>
            </form>
            <button type="button" class="print noto-emoji" id="lbutton" value="Print">
                <img class="buttonimage" src="{{ url_for('static', filename='img/Noto_Emoji.Printer.svg') }}">
            </button>
        </div>

        <!-- Emoji Sticker Section -->
        <div class="box tab-content" id="emoji-section">
            <h1>Make a Sticker</h1>
            <br><br><br>
            <input type="text" class="noto-emoji" id="etext" name="etext" placeholder="put some emojis here"><br><br>
            <button type="button" class="print noto-emoji" id="ebutton" value="Print">
                <img class="buttonimage" src="{{ url_for('static', filename='img/Noto_Emoji.Printer.svg') }}">
            </button>
        </div>

        <!-- Image Section -->
        <div class="box tab-content" id="image-section">
            <h1>Print an Image</h1>
            <br>
            <br>
            <form id="iform">
                <label for="ifile">Upload Image</label><br><br>
                <input type="file" id="ifile" name="ifile" accept="image/*"><br><br>
                <label for="iautorotate">Auto Rotation</label><br><br>
                <input type="checkbox" id="iautorotate" name="iautorotate" checked="true"><br><br>
                <label for="iedgeenhance">Edge Enhance</label><br><br>
                <input type="checkbox" id="iedgeenhance" name="iedgeenhance" checked="true"><br><br>
                
                <button type="submit" class="print noto-emoji" id="ibutton" value="Print">
                    <img class="buttonimage" src="{{ url_for('static', filename='img/Noto_Emoji.Printer.svg') }}">
                </button>
            </form>
        </div>

        <!-- QR Code Section -->
        <div class="box tab-content" id="qr-section">
            <h1>Print a QR code</h1>
            <input type="text" id="qrtext" name="qrtext" placeholder="QR text goes here"><br><br>
            <br>
            <div id="qrdiv" class="qrdiv"></div>
            <button type="button" class="print noto-emoji" id="qrbutton" value="Print">
                <img class="buttonimage" src="{{ url_for('static', filename='img/Noto_Emoji.Printer.svg') }}">
            </button>
        </div>
    </div>

    <div id="qrinvisible"></div>

    <script src="{{ url_for('static', filename='js/qrcode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
